export(
  wilcoxon.signed.test,
  friedman.test,
  iman.davenport.test,
  anova.test,
  nemenyi.test,
  tukey.test,
  shaffer.static,
  bergmann.hommel.dynamic,
  custom.post,
  friedman.post,
  anova.post,
  exhaustive.sets,
  rank.matrix,
  plot.pvalues,
  plot.densities,
  gaussian.qqplot,
  critical.difference.plot,
  algorithm.graph,
  pairwise.test,
  write.tabular
)